*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color:whitesmoke
}

.great-grand-parent {
    
background-color: #000;
}
.my-info {
   font-size: 40px;


}


.sponge {
    font-size: 35px;
    font-style: oblique;
}
.term {
    display: flex;
    flex-direction: row;
} 
.parent2 img{
    width: px;
}
.sponge-contact {
    background-color: rosybrown;
    font-size: 1.4rem;
    color: black;
   padding: 1rem 5rem;
   cursor: pointer;
   transition: all 0.5s;
   margin: 5px;
   text-align: center;
   border-radius: 50px;
   border: 2px;
}

.sponge-contact span{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.6s;
}
.sponge-contact:after {
content: '00bb';
  position: absolute;
  opacity: 5;
  top: 0;
  right: -20px;
  transition: 0.6s;
}
.sponge-contact:hover span{
  padding-right: 20px; 
  padding-left: 20px; 
  padding-top: 20px;
  padding-bottom: 20px;  
}

.sponge-contact:hover span::after {
opacity: 1;
right: 0;
}

.worldclock {
  background-color: rosybrown;
  font-size: 1.4rem;
  color: black;
 padding: 1rem 5rem;
 cursor: pointer;
 transition: all 0.5s;
 margin: 5px;
 text-align: center;
 border-radius: 50px;
 border: 2px;
}

.worldclock span{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.6s;
}
.worldclock:after {
content: '00bb';
position: absolute;
opacity: 5;
top: 0;
right: -20px;
transition: 0.6s;
}
.worldclock:hover span{
padding-right: 20px; 
padding-left: 20px; 
padding-top: 20px;
padding-bottom: 20px;  
}


.worldclock:hover span::after {
opacity: 1;
right: 0;
}
img:hover {
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}