* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: whitesmoke
}

.great-grand-parent {

  background-color: #000;
}

.my-info {
  font-size: 40px;


}
.hh{
  text-align:center;
  font-size: 40px;
}
.pp{
  font-size: 40px;

}

/* this is nav*/
.main-nav {
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;

}

.logo {
  font-size: 30px;
  color: whitesmoke;
  text-decoration: dotted;
  padding-right: 15rem;
}

a {
  text-decoration: none;
  color: white;
}

/* this is the end of nav */

.sponge {
  font-size: 35px;
  font-style: oblique;
}

.term {
  display: flex;
  flex-direction: row;
}

.parent2 {
  display: flex;
  flex-direction: row;
  width: auto;

}

.sponge-contact {
  background-color: rosybrown;
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  color: black;
  padding: 1rem 5rem;
  cursor: pointer;
  transition: all 0.5s;
  margin: 5px;
  text-align: center;
  border-radius: 50px;
  border: 2px;
}

.sponge-contact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.6s;
}

.sponge-contact:after {
  content: '';
  position: absolute;
  opacity: 5;
  top: 0;
  right: -20px;
  transition: 0.6s;
}

.sponge-contact:hover span {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sponge-contact:hover span::after {
  opacity: 1;
  right: 0;
}

.mmm{
  display: flex;
  flex-direction: row;
}
.flex{
  display: flex;
  flex-direction: row;
}