* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
  }
  
  html {
    font-size: 16px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100vw;
    height: 100vh;
  
    background-color: #12a286;
  }
  
  .currency-converter {
    background-color: #fafafa;
    padding: 2rem;
    border-radius: 5px;
  
    max-width: 800px;
  
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 15px 1px;
  }
  .currency-converter .title {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 2rem;
    font-weight: bold;
  }
  .currency-converter .title img {
    width: 60px;
    margin-right: 15px;
  }
  .exchange-rate {
    margin: 2rem 0;
  }
  .exchange-rate p {
    font-size: 1.2rem;
  }
  
  .from-currency,
  .to-currency {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }
  input,
  select {
    width: 49%;
    height: 50px;
    font-size: 1.5rem;
  }
  input {
    padding-left: 5px;
  }